<div class="leftpanel aleft">
	<%= render 'leftpannel' %>
</div>

<div class="rightpanel aright">
  <div class="page-header tagbar">
    <h3 class="aleft">Add new code</h3>
  </div>  
  <%= render 'code_form' %>
</div>

<div class="clear"></div>