<div class="leftpanel aleft">
	<%= render 'leftpannel' %>
</div>

<div class="rightpanel aright">
  <div class="page-header tagbar">
    <h3 class="aleft">Update Invitation Code</h3>
  </div>  
  <%= render 'code_update_form' %>
</div>

<div class="clear"></div>