<!-- Modal -->
<div id="newProject" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render :partial => 'admins/new_project_form' %>
</div>
<!-- Modal -->
<div id="projectsList" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render :partial => 'projects_list' %>
</div>
<style>
#footer_container{
    position:fixed;
    bottom: 0; 
}
</style>