.form_container * 
{
  color: #230C0C;
}
.form_container form
{
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(255, 255, 255);
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 255, 255, 0.1);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  border-radius: 5px;
  width: 30%;
  padding: 10px 25px;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  max-height: 60%;
  overflow: scroll;
}
.form-heading
{
  font-size: 22px;
  font-weight: bold;
}
.form
{
  padding: 0 20px;
  line-height: 0.5;
}
input[type='text'], input[type='password'], input[type='email']
{
  border-radius: 0 !important;
  border: 1px solid #333 !important;
  font-size: 12px !important;
  height: 30px !important;
  width: 300px;
}


.sign-x-btn
{
  background-color: #3B2404;
  padding: 10px 15px;
  border: 0;
  color: #ffffff;
}
